.tabs{
    display: flex;
    position: relative;
}

.tabs-column{
    flex-direction: column;
}

.tabs-row{
    flex-direction: row;
}

.tabs-ink-bar{
    position: absolute;
    bottom: 1px;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    height: 2px;
    background-color: #1890ff;
    transform-origin: 0 0;
    transition:transform .3s cubic-bezier(.645,.045,.355,1),width .2s cubic-bezier(.645,.045,.355,1),left .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1)
}

.tabpane{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    /* margin: 0 32px 0 0; */
    padding: 12px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s cubic-bezier(.645,.045,.355,1);
}

.tabpane:hover{
    color: #1890ff;
}

.tabpane-active{
    color: #1890ff;
    font-weight: 500;
    border-bottom: #1890ff 2px solid;
}